<a href="https://colab.research.google.com/github/AatiqahHarmine/23CSBTB30/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
df = pd.read_csv('customer_sales_data.csv')

In [7]:
df = pd.get_dummies(df, columns=['Product_Category', 'Region'])
df['Customer_Gender'] = df['Customer_Gender'].map({'Male': 1, 'Female': 2})

In [3]:
df['Sales_Profit'] = df['Sales_Amount'] * 0.25

In [15]:
product_categories = [col for col in df.columns if col.startswith('Product_Category')]
product_category_sales = df.groupby(product_categories)['Sales_Amount'].sum().reset_index()
product_category_avg_quantity = df.groupby(product_categories)['Quantity_Sold'].mean().reset_index()

In [16]:
regions = [col for col in df.columns if col.startswith('Region')]
pivot_table_sales = pd.pivot_table(df, values='Sales_Amount', index=regions, columns=product_categories, aggfunc='sum')

In [17]:
print("Product Category Sales:")
print(product_category_sales)

print("\nProduct Category Average Quantity:")
print(product_category_avg_quantity)

print("\nPivot Table Sales:")
print(pivot_table_sales)

Product Category Sales:
   Product_Category_Clothing  Product_Category_Electronics  \
0                      False                         False
1                      False                          True
2                       True                         False

   Product_Category_Home Appliances  Sales_Amount
0                              True      17699.09
1                             False       8404.22
2                             False      14830.58

Product Category Average Quantity:
   Product_Category_Clothing  Product_Category_Electronics  \
0                      False                         False
1                      False                          True
2                       True                         False

   Product_Category_Home Appliances  Quantity_Sold
0                              True       5.441860
1                             False       6.428571
2                             False       5.222222

Pivot Table Sales:
Product_Category_Clothing                            False             True
Product_Category_Electronics                         False    True     False
Product_Category_Home Appliances                     True     False    False
Region_East Region_North Region_South Region_West
False       False        False        True         2381.61  3005.48  3035.27
                         True         False        1825.88  2660.56  5225.84
            True         False        False        6842.64  1334.80  3196.94
True        False        False        False        6648.96  1403.38  3372.53